.cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  --cell-bg: #ffffff;
  --cell-filled: #111111;
  --cross-color: #111111;

  background-color: var(--cell-bg);

  &[data-state='filled'] {
    background-color: var(--cell-filled);
  }
}

.icon {
  width: 100%;
  height: 100%;
  color: var(--cross-color);
}

:root[data-mantine-color-scheme='dark'] .cell {
  --cell-bg: #f4f4f4;
  --cell-filled: #000000;
  --grid-border: #666666;
  --cross-color: #333333;
}
