.grid {
  display: inline-grid;
  user-select: none;
  --grid-base-border: #cfcfcf;
  --grid-strong-border: #000000;
}

:root[data-mantine-color-scheme='dark'] .grid {
  --grid-base-border: #777777;
  --grid-strong-border: #646464;
}

.gridItem {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.cell {
  cursor: pointer;
}

.cellReadonly {
  cursor: default;
}
