.userButton {
  width: 100%;
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);

  &:hover {
    background: var(--mantine-color-gray-1);
  }

  [data-mantine-color-scheme='dark'] & {
    &:hover {
      background: var(--mantine-color-dark-6);
    }
  }
}

.authButton {
  width: 100%;
  padding: var(--mantine-spacing-sm);
  text-align: center;
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-gray-4);
}

.authButtonPrimary {
  width: 100%;
  padding: var(--mantine-spacing-sm);
  text-align: center;
  border-radius: var(--mantine-radius-md);
  background: var(--mantine-color-blue-6);
  color: white;

  &:hover {
    background: var(--mantine-color-blue-7);
  }
}
