.nonogramCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--mantine-spacing-xs);
}

.preview {
  display: flex;
  justify-content: center;
  margin: var(--mantine-spacing-xs) 0;
}
